table{
    td{
        border: 1px solid;
        width:  100px;
        height: 100px;
    }
    .imagens{
        width: 100px;
        margin: auto;
        height: 100px;
        transition: all 0.5s ease;
        
        &.entrar{
            width: 0;
            height: 0;
        }
    }
}